button(name='toggleshow') Show all
table
	thead
		tr
			th Done
			th Description
			th Project
			th Deadline
			th References
			th Last Changed
			th Created At
			th Delay
			th Move To
			th Delete
	tbody
.newtodo
form
	input(name='newname')
	button Rename
