.setStatus
	a(href="default") Normal
	a(href="maybe") Maybe
	a(href="inbox") Inbox
	a(href="urgent") Urgent
form.delay
	input(type="text", size="10", value="dd.mm.yyyy").date
	input(type="text", size="2", value="00").hour
	| :
	input(type="text", size="2", value="00").minute
	input(type="submit", value="Delay")
.infocontent
.attachments
	h2 Attachments
	form
		input(type="file")
		input(type="submit", value="Upload File")
.references
	h2 References
	.referenceContainer
