h2 New Note
form(name='note')
	input(name='note')
	button(type='submit') New Note
h2 ToDo Lists
each list in lists
	button(name=list.id)= list.name
form(name='list')
	input(name='list')
	button(type='submit') New ToDo List
