h2 New Note
form(name='note')
	input(name='note')
	button(type='submit') New Note
h2 ToDo Lists
each entry in lists
	button(name=entry)= entry
form(name='list')
	input(name='list')
	button(type='submit') New ToDo List
