.front
	button Set #{name}
	span 
		- if (name != '')	{
		| #{name}:
		- }
		span.reltime
		button Change
.back
	form
		input(name='day', size=2)
		| .
		input(name='month', size=2)
		| .
		input(name='year', size=4)
		| &nbsp;&nbsp;&nbsp;
		input(name='hour', size=2)
		|:
		input(name='minute', size=2)
		|:
		input(name='second', size=2)
	button Abort
	button(name='delete') Delete #{name}
	button(name='save') Save #{name}
