tr
	td
		input(type='checkbox')
	td.desc
		span
		form
			input(type='text')
			button Rename
	td.project
	td.deadline
	td.refs
	td.last.reltime
	td.create.reltime
	td.delay
	td.listsel
	td
		button(name='delete') Delete
