.project.task
	.projecthandle
		button.collapse
		form
			span.name
			input(type='text')
			button Rename
		span(style='float:right;')
			input(name='completed', type='checkbox')
			button(name='delete') X
	.children
