!!! 5
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='style.css')
		link(rel='stylesheet', type='text/css', href='font-awesome.css')
		// ko with: view
		title(data-bind='text: ko.utils.unwrapObservable(title) + " - secretarius"')
		// /ko
		style(type='text/css', data-bind="text: 'a[href=\\'#' + viewname() +'\\'] { font-weight: bold; }'")
		script(src='secretarius.js', type='text/javascript')

		script#selector(type='text/html')
			// ko with: selector
			a(href='', data-bind='click: toggle.bind(delayed), css: {active: delayed}', title='Hide not yet active tasks')
				i.icon-time
			a(href='', data-bind='click: toggle.bind(blocked), css: {active: blocked}', title='Hide tasks blocked by dependency')
				i.icon-lock
			a(href='', data-bind='click: toggle.bind(completed), css: {active: completed}', title='Hide completed tasks')
				i.icon-check
			// /ko

		script#asaplistview(type='text/html')
			h1(data-bind='text: info.name')
			span(data-bind='template: "selector"')
			// ko fadeVisible: innerSlot.view
			menu
				a(data-bind='click: innerSlot.clear', style='float:right')
					i.icon-remove-sign
			section(data-bind="template: {name: 'slot', data: innerSlot}")
			// /ko
			ul(data-bind='slidingList: list')
				li
					a(href='', data-bind='click:toggleDone')
						i(data-bind='css:{"icon-check": done, "icon-check-empty": !done()}')
					a(href='', data-bind='text: description, click: $parent.setFocus')
					// ko with: project()
					a(href='', style="float:right;", data-bind='text: description, click: $parents[1].setFocus')
					// /ko

		script#notereference(type='text/html')
			// ko template: "noteview"
			// /ko

		script#noteview(type='text/html')
			form
				textarea(placeholder='Note is empty…', data-bind='autosize: content', rows='1')

		script#asapview(type='text/html')
			a(href='', data-bind='click:toggleDone')
				i(data-bind='css:{"icon-check": done, "icon-check-empty": !done()}')
			form(data-bind='event: {submit: save}')
				input(type='text', data-bind='value: description, valueUpdate: "afterkeydown"')
			// ko with: project()
			a(href='', style="float:right;", data-bind='text: description, emitter: "project/" + id()')
			// /ko
			//			select(data-bind='options: asaplists, optionsText: "label", value: selectedList')
			// ko template: {name: 'timepicker', data: deadlinePicker}
			// /ko

		script#timepicker(type='text/html')
			// ko if: value() != null
			span(data-bind='text: name')
			| :
			time(data-bind='attr: { datetime: value }, text: $root.relTime(value())')
			a(href='', data-bind='click: remove') Remove
			// /ko
			// ko if: value() == null
			a(href='', data-bind='click: set')
				| Set 
				span(data-bind='text: name')
				|  to
			select(data-bind='options: options, optionsText: "label", value: selectedDate')
			// /ko

		script#projectview(type='text/html')
			| project …

		script#projects(type='text/html')
			| projects …

		script#inbox(type='text/html')
			header(data-bind='fadeVisible: !full()')
				h3 Inbox is empty
			// ko fadeVisible: full
			section(data-bind="template: {name: 'slot', data: innerSlot}")
			// /ko

		script#info(type='text/html')
			ul(data-bind='foreach: states')
				li
					a(href='', data-bind="html: label, style: { color: active() ? 'white' : '' }, click: $parent.setStatus, attr: { title: tooltip}")

			a(href='', data-bind='fadeVisible: dirty, click: save')
				i.icon-save
			div(data-bind="template: type + 'view'")
			footer
				// ko template: {name: 'timepicker', data: delayPicker}
				// /ko
				h3(data-bind='drop: addReference') 
					|  References
					a(href='', data-bind='click: addNote')
						i.icon-pushpin
						|  Add Note
				ul(data-bind='slidingList: references')
					li(data-bind='mouse: hover, css: { hover: hover}')
						a(href='', data-bind='fadeVisible: dirty, click: save')
							i.icon-save
						a(href='', data-bind='click: $parent.removeReference, fadeVisible: hover')
							i.icon-remove
						a(data-bind='emitter: viewname, fadeVisible: hover')
							i(data-bind='css: "icon-" + icon')
						div(data-bind='template: type + "reference"')
				p
					i.icon-edit-sign
					time(data-bind='attr: { datetime: info.lastEdited }, text: $root.relTime(info.lastEdited())')
					br
					i.icon-asterisk
					time(data-bind='attr: { datetime: info.createdAt }, text: $root.relTime(info.createdAt())')

		script#main(type='text/html')
			h1 Secretarius

		script#slot(type='text/html')
			// ko with: view
			h1
				a(data-bind='emitter: $parent.viewname, drop: $parent.setView, attr: { title: title}')
					i(data-bind='css: "icon-" + icon')
			article(data-bind='template: template')
			// /ko

	body
		ul
			// ko foreach: menu
			li
				a(data-bind='html: label, emitter: url')
			// /ko
			li(data-bind='mouse: showlists, mouseTimeout: 500')
				a(href='')
					i.icon-tasks
				ul(data-bind='fadeVisible: showlists, foreach: asaplists')
					li
						a(data-bind='emitter: url, text: label')
		header
			a(data-bind='html: clock, emitter: "inbox"')
		div
			ul(data-bind='slidingList: msg')
				li
					// ko text: $data + ' '
					// /ko
					a(data-bind='click: $parent.deleteMsg', href='')
						i.icon-remove
			// ko template: 'slot'
			// /ko
		footer
			i.icon-pencil
			|  Secretarius Copyright 2013 
			a(href='https://github.com/maralorn/secretarius', target='_blank')
				i.icon-question-sign
				|  Help, 
				i.icon-lightbulb
				|  Documentation, 
				i.icon-bolt
				|  Bugs
