@bg1: #9999ee;
@fg1: #00000f;
@bg2: #000044;
@fg2: #ffffff;
@bg3: #00000f;
@fg3: #9999ff;
.color1 {
	color: @fg1;
	background: @bg1;
}
.color1i {
	color: @bg1;
	background: @fg1;
}
.color2 {
	color: @fg2;
	background: @bg2;
}
.color2i {
	color: @bg2;
	background: @fg1;
}
.color3 {
	color: @fg3;
	background: @bg3;
}
.color3i {
	color: @bg3;
	background: @fg3;
}


* {
	padding:0;
	margin:0;
	font-size: @fontsize; font-family: @font;
}

@font-face {
	font-family: baar_sophia;
	src: url('Clockopia.ttf');
}

@font: baar_sophia, sans_serif;
@fontsize: 9pt;

button {
	border: 0.1em solid @bg3;
	.color3;
	padding: 0.3em;
	margin: 0em 0.3em 0.3em 0;
}
button:hover, .active{
	.color3i;
}

body{
	.color3;
}

input{
	border: 0.1em solid @bg3;
	.color2;
	padding: 0.3em;
	margin: 0em 0em 0.3em 0;
	outline: none;
}
.timepicker input{
	text-align: right;
}

h1{
	padding: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.2em;
	font-size: 1.5*@fontsize;
	.color3;
	float: left;
}

#clock{
	float: right;
}
#msgcontainer{
	position: absolute;
	top:0; left:0;
	width: 100%;
	text-align:center;
	span {
		display: inline-block;
		text-align:center;
		padding: 0.2em;
		margin-top: 0.2em;
		.color1;
		border-radius: 0.3em;
	}
		
}
span.reltime {
	padding: 0em 1.5em 0em 0.5em;
}
.attachments, .references, .times{
	> h2 {
		font-size: 1.3*@fontsize;
		float:left;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
	.color3;
	margin: 0.2em 0em;
	padding: 0.5em;
	clear:both;
	overflow: auto;
}
.referenceContainer > span{
	color: @fg1;
	background: @bg1;
	padding: 0.2em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

textarea{
	border:0px;
	.color3;
	outline: none;
	resize: none;
	width: 100%;
	margin: 0.2em 0em;
	padding: 0.5em;
	overflow: hidden;
	vertical-align: top;
	-webkit-transition: height 0.5s;
	font-size: @fontsize; font-family: @font;
}
#content, #header, #footer{
	padding: 0.5em;
	margin: 0.5em;
	.color2;
	clear:both;
	overflow: auto;
	-webkit-transition: height 0.2s;
}
