@bg1: #9999ee;
@fg1: #00000f;
@bg2: #000044;
@fg2: #ffffff;
@bg3: #00000f;
@fg3: #9999ff;
@bgimportant: #ffffff;
@fgimportant: #f00000;
@bgcode: #00000f;
@fgcode: #ffff00;

* {
	padding:0;
	margin:0;
}

@font-face {
	font-family: baar_sophia;
	src: url('Clockopia.ttf');
}

@font: baar_sophia, sans_serif;
@fontsize: 0.8em;

body{
	background: @bg3;
	color: @fg3;
	font-size: @fontsize; font-family: @font;
}

#clock{
	float: right;
	padding: 0.2em;
}
h1{
	padding: 0.5em;
	margin-right: 0.5em;
	font-size: 2*@fontsize;
	color: @fg3;
	background: @bg3;
	float: left;
	#header > & {
		color: @fg1;
		background: @bg1;
	}
}
textarea{
	border:0px;
	color: @fg3;
	background: @bg3;
	outline: none;
	resize: none;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	-webkit-transition: height 0.5s;
}
#content, #header, #footer{
	padding: 0.2em;
	margin: 0.5em;
	background: @bg2;
	color: @fg2;
	clear:both;
	overflow: auto;
	-webkit-transition: height 0.2s;
}
.button {
	display: inline-block;
	text-decoration: none;
	fontsize: @fontsize; font-family: @font;
	padding: 0.2em 0.4em;
	margin-right: 0.5em;
	background: @bg3;
	border: 0.1em solid @bg3;
	color: @fg3;
	&:hover {
		background: @bg1;
		color: @fg1;
	}
}
#content a{
	.button;
}

#menu {
	> button{
		.button;
		background: @bg1;
		border: 0.1em solid @bg1;
		color: @fg1;
		&:hover {
			background: @bg3;
			color: @fg3;
		}
	}	
}
